.card {
    margin: 1vw;
    padding: 3vw 6vw;
    border: 2px solid rgb(15, 110, 129);
    border-radius: 3%;
}

.newRole {
    color: rgb(15, 129, 66);
}

.iniRole {
    color: rgb(15, 80, 129);
}

.primary {
    background-color: rgb(15, 80, 129);
}

.secondary {
    background-color: rgb(15, 129, 66);
}