#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  min-height: calc(100vh - 180px);
  padding: 2rem;
}

main p {
  font-size: 1.2rem;
  text-align: center;
}